# Prod K-menas vector 2 dimensiones

## Sodio y potasio

In [1]:
import pandas as pd
import joblib

In [2]:
# Cargar modelos previamente guardados
escalador = joblib.load("./models/sodium-potassium-minmax-scaler.pkl")
kmeans = joblib.load("./models/sodium-potassium-kmeans-model.pkl")

In [3]:
print("KMeans cargado:", kmeans)
print("Número de clusters que espera:", kmeans.n_clusters)
print("Forma de los centroides:", kmeans.cluster_centers_.shape)

KMeans cargado: KMeans(n_clusters=4, n_init=10, random_state=42)
Número de clusters que espera: 4
Forma de los centroides: (4, 2)

In [4]:
# Leer nuevos datos de alimentos
nuevos = pd.read_csv("../datasets/nuevos_alimentos.csv", sep=';')

# Seleccionar las columnas relevantes
nuevos = nuevos[['sodium', 'potassium']]

# Eliminar filas con datos faltantes
nuevos = nuevos.dropna(subset=['sodium', 'potassium'])

In [5]:
nuevos.head()

   sodium  potassium
0    55.0      180.0
1    14.0      150.0
2   180.0      200.0
3    10.0      400.0
4   110.0      180.0

In [6]:
# Escalar los nuevos datos
nuevos_scaled = escalador.transform(nuevos.values)

In [7]:
# Predecir los clusters
clusters = kmeans.predict(nuevos_scaled)

# Añadir columna de cluster al DataFrame
nuevos['cluster'] = clusters

In [8]:
nuevos

   sodium  potassium  cluster
0    55.0      180.0        0
1    14.0      150.0        0
2   180.0      200.0        0
3    10.0      400.0        3
4   110.0      180.0        0