# Prod K-menas vector 2 dimensiones

## Grasas totales y azuar

In [1]:
import pandas as pd
import joblib

In [2]:
# Cargar modelos previamente guardados
escalador = joblib.load("./models/fats-sugar-minmax-scaler.pkl")
kmeans = joblib.load("./models/fats-sugar-kmeans-model.pkl")

In [3]:
print("KMeans cargado:", kmeans)
print("Número de clusters que espera:", kmeans.n_clusters)
print("Forma de los centroides:", kmeans.cluster_centers_.shape)

KMeans cargado: KMeans(n_clusters=3, n_init=10, random_state=42)
Número de clusters que espera: 3
Forma de los centroides: (3, 2)

In [4]:
# Leer nuevos datos de alimentos
nuevos = pd.read_csv("../datasets/nuevos_alimentos.csv", sep=';')

# Seleccionar las columnas relevantes
nuevos = nuevos[['sugar', 'total_fat']]

# Eliminar filas con datos faltantes
nuevos = nuevos.dropna(subset=['sugar', 'total_fat'])

In [5]:
nuevos.head()

   sugar  total_fat
0   10.5        1.5
1    0.6        8.0
2   25.0       18.0
3    5.0       50.0
4   32.0        3.0

In [6]:
# Escalar los nuevos datos
nuevos_scaled = escalador.transform(nuevos.values)

In [7]:
# Predecir los clusters
clusters = kmeans.predict(nuevos_scaled)

# Añadir columna de cluster al DataFrame
nuevos['cluster'] = clusters

In [8]:
nuevos

   sugar  total_fat  cluster
0   10.5        1.5        0
1    0.6        8.0        0
2   25.0       18.0        0
3    5.0       50.0        2
4   32.0        3.0        1